pais {background-color:lightblue; margin: 50px;}
departamento {background-color:lightcoral; display:inline-block;} 

departamento[id]::before{
content: attr(id) "--" attr(nombre);
background-color: aquamarine;
display: inline-block;   
}

departamento[id="2"]::before{
content: attr(id) "--" attr(nombre);
background-color:chartreuse;
display:inline-block;   
}

departamento[id="3"]::before{
content: attr(id) "--" attr(nombre);
background-color:darkorchid;
display:inline-block;   
}

pais[nombre]::before{
content: attr(nombre) "--";
background-color: green;
display:inline-block;
} 
moneda{background-color: chocolate; display: inline-block;}
idioma{background-color:darkgrey ; display: inline-block;}
telefonoarea{background-color: darkorange; display: block;}
cabecera{background-color: mediumturquoise;}